.newsletter{
    width: 65%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items: center;
    padding: 0 140px;
    gap: 30px;
    background: linear-gradient(180deg,#efdeff,#e1ffea22 60%);
    margin: auto;
    margin-bottom: 150px;


}

.newsletter h1{
    color: #454545;
    font-size: 55px;
    font-weight: 600;
}

.newsletter p{
    color: #454545;
    font-size: 20px;
}

.newsletter div{
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 730px;
    height: 70px;
    border-radius: 80px;
    background: white;
    border: 1px solid #616161;
}
.newsletter input{
    width: 500px;
    margin-left: 30px;
    border: none;
    outline: none;
    color: #616161;
    font-family: poppins;
    font-size: 18px;
}

.newsletter div button{
    width: 210px;
    height: 70px;
    border-radius: 80px;
    background: black;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
