

.navbar{
    display: flex;
    justify-content: space-around;
    padding: 16px;
    box-shadow: 0 1px 3px -2px black;
    background:#7a7a7a;
}

.nav-logo{
    display: flex;
    align-items: center;
    gap: 10px;

}
.nav-logo p{
    color: black;
    font-size: 30px;
    font-weight: 500;
}

.nav-menu{
    display: flex;
    list-style: none;
    gap: 50px; 
    font-size: 20px;
    font-weight: 400;
    color: #7a7a7a;
    justify-content: center;
    align-items: center;
    

}

.nav-menu li{
    display: flex;
    justify-content:center ;
    align-items: center;
    flex-direction: column;
    gap: 3px;
    cursor: pointer;
    

}

.nav-menu hr{
   width: 80%;
   height: 3px;
    border: none;
    background-color: red;
    border-radius: 8px;
    
}

.nav-login-cart{
    display: flex;
    gap: 30px;
    align-items: center;
    
}


.nav-login-cart button{
    width: 157px;
    height: 58px;
    outline: none;
    border-radius: 20px;
    border: 1px solid #7a7a7a;
    color:#515151;
    background-color:white;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    
}

.nav-login-cart button:active{
    background-color: #ccc;
}

.nav-cart-count{
    width: 22px;
    height: 22px;
    margin-top: -35px;
    margin-left: -45px;
    border-radius: 11px;
    color: white;
    background-color: red;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 14px;
}




